body{
  font-family: 'Lato', sans-serif;

  background-color: #1b5c90;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;

}

#kirsten {
  width: 300px;
  display: flex;
  margin: auto;
  align-self: center;
}

.contentboxes {
  background-color: #B9CEDC;
  width: 70%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.contentboxes p {
  font-weight: 100;
  color: black;
  line-height: 25px;
  margin: 15px 20px;
  text-align: justify;
}

.visiblecontentdivs{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;


}

#buttons {
  flex-direction: row;
  align-self: center;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 40px;
}

.boldheadline1 {
  font-size: 44px;
  color: white;
  font-weight: 700;
  text-align: center;
}

#headline2 {
  font-size: 30px;
  color: white;
  margin: 10px 0;
}

#headlinecontainer {
  width: 80%;
}

p {
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
  color: white;
  font-weight: 100;
  font-size: 20px;
}

h1 {
  align-self: center;
}

button {
  align-self: center;
  background-color: #00a19b;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #00a19b;
  width: 250px;
  height: 50px;
   box-shadow: 0px 9px 26px 0px rgba(50, 50, 50, 0.28);
}

#paragraphcontainer {
  width: 80%
}

#buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

button:hover {

}

.boldheadline2 {
  padding: 55px 0 10px 0px;
  text-align: center;
  font-size: 30px;

}

#kirsten2 {
  width: 300px;
  display: flex;
  margin: auto;
  align-self: center;
  padding-top: 50px;
}

.closebuttons {
  display: flex;
  width: 50%;

  margin: auto;

}

.closebuttons button {
  margin: auto;
}

#kollegacontent p, #differentformcontent p, {
  padding: 50px 50px
}

#differentformcontent img {
  width: 400px;
  display: flex;
  margin: auto;
  align-self: center;
  padding-top: 50px;
}

#keducontent img {
  width: 950px;
  display: flex;
  margin: auto;
  align-self: center;
  padding-top: 20px;

}

#kollegacontent{
  display: none;
  transform: translateY(3%);
  animation-name: slideup;
  animation-duration: 1s;
}

#differentformcontent{
  display: none;

  transform: translateY(3%);
  animation-name: slideup;
  animation-duration: 1s;
}

#keducontent{
  display: none;
  flex-direction: column;
  transform: translateY(3%);
  animation-name: slideup;
  animation-duration: 1s;
}

@keyframes slideup {
0% {
  transform: translateY(10%);
  opacity: 0;
}

  100%  {
            transform: translateY(3%);
            opacity: 1;

        }

}

#slogan {
  text-align: center;
  font-style: italic;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 33px;

}

#hearmore {
  margin-top: -100px;

}

#keducontent p{
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#keducontent a {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
}

.formkollega {
  padding-bottom: 50px;
  display: flex;
  width: 50%;
  margin: auto;
}

.formkollega button {
  margin: auto;
}


#kedupartp{
  width: 60%;
  margin: auto;
}

#headlinekedu {
  width: 100%;
  margin: auto;
}

#kedupart {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

}

#nextbutton {
  margin: auto;

}

#kedupartp img{
  width: 700px;
  display: flex;
  margin: auto;
  align-self: center;
  padding-top: 50px;
}
