body{
  font-family: 'Lato', sans-serif;

  background-color: #1b5c90;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;

}

#kirsten {
  width: 300px;
  display: flex;
  margin: auto;
  align-self: center;
}

.contentboxes {
  background-color: #B9CEDC;
  width: 70%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.contentboxes p {
  font-weight: 100;
  color: black;
  line-height: 25px;
  margin: 15px 20px;
  text-align: justify;
}

.visiblecontentdivs{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;


}

#buttons {
  flex-direction: row;
  align-self: center;
  margin: auto;
  padding-bottom: 30px;
}

#boldheadline1 {
  font-size: 44px;
  color: white;
  font-weight: 700;
  text-align: center;
}

#headline2 {
  font-size: 30px;
  color: white;
  margin: 10px 0;
}

#headlinecontainer {
  width: 80%;
}

p {
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
  color: white;
  font-weight: 100;
  font-size: 20px;
}

h1 {
  align-self: center;
}

button {
  align-self: center;
  background-color: #00a19b;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #00a19b;
  width: 250px;
  height: 50px;
   box-shadow: 0px 9px 26px 0px rgba(50, 50, 50, 0.28);
}

#paragraphcontainer {
  width: 80%
}

#buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

button:hover {

}

.boldheadline2 {
  padding: 55px 0 10px 0px;
  text-align: center;
  font-size: 30px;

}

#kirsten2 {
  width: 300px;
  display: flex;
  margin: auto;
  align-self: center;
  padding-top: 50px;
}

.closebuttons {
  display: flex;
  width: 50%;
  padding-bottom: 50px;
  margin: auto;

}

.closebuttons button {
  margin: auto;
}

#kollegacontent p, #differentformcontent p, #keducontent p{
  padding: 40px 50px
}

#differentformcontent img {
  width: 400px;
  display: flex;
  margin: auto;
  align-self: center;
  padding-top: 50px;
}

#keducontent img {
  width: 300px;
  display: flex;
  margin: auto;
  align-self: center;
  padding-top: 50px;
}

#kollegacontent{
  display: none;
}

#differentformcontent{
  display: none;
}

#keducontent{
  display: none;
}
